/* Typography */

/*@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu-bold-webfont.eot');
    src: url('fonts/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-bold-webfont.woff') format('woff'),
         url('fonts/ubuntu-bold-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-bold-webfont.svg#Ubuntu') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu-bolditalic-webfont.eot');
    src: url('fonts/ubuntu-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-bolditalic-webfont.woff') format('woff'),
         url('fonts/ubuntu-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-bolditalic-webfont.svg#Ubuntu') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu-italic-webfont.eot');
    src: url('fonts/ubuntu-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-italic-webfont.woff') format('woff'),
         url('fonts/ubuntu-italic-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-italic-webfont.svg#Ubuntu') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu-regular-webfont.eot');
    src: url('fonts/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-regular-webfont.woff') format('woff'),
         url('fonts/ubuntu-regular-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-regular-webfont.svg#Ubuntu') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('fonts/ubuntucondensed-regular-webfont.eot');
    src: url('fonts/ubuntucondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntucondensed-regular-webfont.woff') format('woff'),
         url('fonts/ubuntucondensed-regular-webfont.ttf') format('truetype'),
         url('fonts/ubuntucondensed-regular-webfont.svg#UbuntuCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/* General */
.related a[rel='external'], #ConfluenceContent a[rel='nofollow'] {
    padding-right: 13px;
    background: transparent url('images/external.png') no-repeat center right;
}

/* Events */
.day {
    background: url('images/datebg.png') repeat-x;
}

/* Frame */
a.tool.refresh {
    background: url('images/icon-refresh.png') no-repeat;
}

a.tool.expand {
    background: url('images/icon-expand.png') no-repeat;
}

a.tool.collapse {
    background: url('images/icon-collapse.png') no-repeat;
}

/* Share bar */
.share-bar .tip {
    background-image: url('images/icon-comment.png');
}

.share-bar .facebook, h3.facebook {
    background-image: url('images/icon-facebook.png');
}

.share-bar .twitter, h3.twitter {
    background-image: url('images/icon-twitter.png');
}

.share-bar .digg, h3.digg {
    background-image: url('images/icon-digg.png');
}

.share-bar .delicious, h3.delicious {
    background-image: url('images/icon-delicious.png');
}

h3.lastfm {
    background-image: url('images/icon-lastfm.png');
}

h3.stumbleupon {
    background-image: url('images/icon-stumbleupon.png');
}

h3.rss {
    background-image: url('images/icon-rss.png');
}

#article .disclaimer {
    padding: 6px 10px;
    background-color: #f3f1ee;
    border-radius: 4px;
}